*.dep
*.depend
*.lo
*.la
cscope.*
tags
*.taghl
*.o
*.d
*.elf
*.obj

montage-tech/prj/dvbc/jasmine_demo/hw_cfg_tool/Debug/*
montage-tech/prj/dvbc/jasmine_demo/hw_cfg_tool/hw_cfg.ncb
montage-tech/prj/dvbc/jasmine_demo/hw_cfg_tool/hw_cfg.sln
montage-tech/prj/dvbc/jasmine_demo/hw_cfg_tool/hw_cfg.suo
montage-tech/prj/dvbc/jasmine_demo/hw_cfg_tool/hw_cfg/
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*/release/binary/
montage-tech/prj/dvbc/jasmine_demo/tools/ota_file_tools_sf/
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*/release/*
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*.suo
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*.ncb
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*/*.layout
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*.sln
*.Administrator.user
montage-tech/config_prj/dvbc/concerto/jasmine/*/*/Debug/*
montage-tech/prj/dvbc/jasmine_demo/ssdata_tool/Debug/*
montage-tech/prj/dvbc/jasmine_demo/ssdata_tool/ss_gen.ncb
montage-tech/prj/dvbc/jasmine_demo/ssdata_tool/ss_gen.suo
montage-tech/config_prj/core/core_comon_mips24k/core_mips24k_ap_mdl/bin/Release/libcore_mips24k_ap_mdl.a
montage-tech/config_prj/core/core_jasmine/core_jasmine_drv_open/bin/Release/libcore_jasmine_drv_open.a
montage-tech/config_prj/core/core_jasmine/libcore_jasmine.a
montage-tech/config_prj/core/core_jasmine/libcore_jasmine_drv_open.a
montage-tech/config_prj/core/core_jasmine/libcore_mips24k_ap_mdl.a
montage-tech/lib/lib_concerto/libcore_jasmine.a
montage-tech/config_prj/core/core_jasmine/core_ap_mdl/bin/Release/libcore_ap_mdl.a
montage-tech/lib/lib_concerto/libcore_jasmine_drv_open.a
montage-tech/lib/lib_mips24k/libcore_ap_mdl.a
montage-tech/config_prj/dvbc/concerto/jasmine/xinniu/jasmine_xinniu/jasmine_xinniu/jasmine_xinniu.map

montage-tech/config_prj/core/core_comon_mips24k/core_mips24k_ap_mdl/core_mips24k_ap_mdl.layout
montage-tech/config_prj/core/core_jasmine/core_jasmine_drv_open/core_jasmine_drv_open.layout

montage-tech/config_prj/dvbc/concerto/jasmine/*/*/*/release/*

#15-01-14 update sdk
montage-tech/.hgeol
montage-tech/.hgignore

#15-06-29 update sdk to MainBranchDev_Mdl_8419_24739
#montage-tech/config_prj/core/core_ap_mdl/
